.fluentpayment-32-regular-icon1 {
  position: absolute;
  top: 44.75rem;
  left: 2.38rem;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}
.contatos-child {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: 50%;
  width: 28.38rem;
  height: 17.75rem;
}
.trattoria-andrade12 {
  position: absolute;
  top: 4rem;
  left: 3rem;
  font-size: 2rem;
  color: #fff;
  display: inline-block;
  width: 19.81rem;
  height: 2.38rem;
}
.contatos-inner {
  position: absolute;
  top: -12.19rem;
  left: -66.75rem;
  border-radius: 40px;
  width: 22.88rem;
  height: 4.56rem;
}
.contatos-child1 {
  position: absolute;
  top: 12rem;
  left: 1.63rem;
  border-radius: 40px;
  background-color: #fff;
  border: 1px solid #ed2d2d;
  box-sizing: border-box;
  width: 21.19rem;
  height: 14.38rem;
}
.contatos-child2 {
  position: absolute;
  top: 22.06rem;
  left: 3.88rem;
  border-radius: 10px;
  background-color: #000;
  width: 16.88rem;
  height: 3rem;
}
.editar-perfil {
  position: absolute;
  top: 22.88rem;
  left: 8.88rem;
  font-size: 1rem;
  display: inline-block;
  color: #fff;
  width: 12.38rem;
  height: 1.5rem;
}
.contatos-child3 {
  position: absolute;
  top: 13.38rem;
  left: 3.5rem;
  border-radius: 50%;
  width: 6.44rem;
  height: 6rem;
  object-fit: cover;
}
.le-monde {
  position: absolute;
  top: 14.56rem;
  left: 10.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  display: inline-block;
  width: 9.38rem;
  height: 2.63rem;
}
.contatos-child4 {
  position: absolute;
  top: 47.31rem;
  left: 0rem;
  width: 34rem;
  height: 0.06rem;
}
.lelemonion26gmailcom {
  position: absolute;
  top: 16.63rem;
  left: 10.75rem;
  font-size: 0.81rem;
  font-weight: 500;
  color: #2442e1;
  display: inline-block;
  width: 14.25rem;
  height: 2.63rem;
}
.favoritos {
  position: absolute;
  top: 44.75rem;
  left: 5.69rem;
  display: inline-block;
  width: 11.75rem;
  height: 1.44rem;
}
.fluentpayment-32-regular-icon2 {
  position: absolute;
  top: 49rem;
  left: 2.44rem;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}
.contatos-child5 {
  position: absolute;
  top: 51.56rem;
  left: 0rem;
  width: 34rem;
  height: 0.06rem;
}
.doaes {
  position: absolute;
  top: 49rem;
  left: 5.69rem;
  display: inline-block;
  width: 11.75rem;
  height: 1.44rem;
}
.fluentpayment-32-regular-icon3 {
  position: absolute;
  top: 53.31rem;
  left: 2.38rem;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}
.contatos-child6 {
  position: absolute;
  top: 55.88rem;
  left: 0rem;
  width: 34rem;
  height: 0.06rem;
}
.assinaturas {
  position: absolute;
  top: 53.31rem;
  left: 5.69rem;
  display: inline-block;
  width: 11.75rem;
  height: 1.44rem;
}
.fluentpayment-32-regular-icon4 {
  position: absolute;
  top: 57.63rem;
  left: 2.5rem;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  cursor: pointer;
}
.contatos-child7 {
  position: absolute;
  top: 60.13rem;
  left: 0rem;
  width: 34rem;
  height: 0.06rem;
}
.sair {
  position: absolute;
  top: 57.63rem;
  left: 5.69rem;
  display: inline-block;
  width: 11.75rem;
  height: 1.44rem;
}
.fluentpayment-32-regular-icon5 {
  position: absolute;
  top: 28.38rem;
  left: 2.5rem;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}
.contatos-child8 {
  position: absolute;
  top: 30.94rem;
  left: 0rem;
  width: 34rem;
  height: 0.06rem;
}
.pagamentos {
  position: absolute;
  top: 28.38rem;
  left: 5.69rem;
  display: inline-block;
  width: 11.75rem;
  height: 1.44rem;
}
.fluentpayment-32-regular-icon6 {
  position: absolute;
  top: 32.63rem;
  left: 2.5rem;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}
.contatos-child9 {
  position: absolute;
  top: 35.19rem;
  left: 0rem;
  width: 34rem;
  height: 0.06rem;
}
.cupons {
  position: absolute;
  top: 32.63rem;
  left: 5.69rem;
  display: inline-block;
  width: 11.75rem;
  height: 1.44rem;
}
.fluentpayment-32-regular-icon7 {
  position: absolute;
  top: 36.94rem;
  left: 2.38rem;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}
.contatos-child10 {
  position: absolute;
  top: 39.5rem;
  left: 0rem;
  width: 34rem;
  height: 0.06rem;
}
.assinaturas1 {
  position: absolute;
  top: 36.94rem;
  left: 5.69rem;
  display: inline-block;
  width: 11.75rem;
  height: 1.44rem;
}
.fluentpayment-32-regular-icon8 {
  position: absolute;
  top: 40.94rem;
  left: 2.31rem;
  width: 2rem;
  height: 2.25rem;
  overflow: hidden;
}
.contatos-child11 {
  position: absolute;
  top: 43.75rem;
  left: 0rem;
  width: 34rem;
  height: 0.06rem;
}
.endereos {
  position: absolute;
  top: 41.25rem;
  left: 5.69rem;
  display: inline-block;
  width: 11.75rem;
  height: 1.44rem;
}
.contatos-child12 {
  position: absolute;
  top: 61.69rem;
  left: 0.81rem;
  border-radius: 40px;
  width: 22.88rem;
  height: 4.56rem;
}
.contatos-child13 {
  position: absolute;
  top: 62.19rem;
  left: 3.75rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.38rem;
}
.contatos-child14 {
  position: absolute;
  top: 62.5rem;
  left: 8.25rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3rem;
}
.contatos-child15 {
  position: absolute;
  top: 62.19rem;
  left: 12.75rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.06rem;
}
.contatos-child16 {
  position: absolute;
  top: 62.5rem;
  left: 17.38rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3rem;
}
.personcircle-icon40 {
  position: absolute;
  top: 62.81rem;
  left: 18rem;
  width: 2.13rem;
  height: 2.06rem;
  overflow: hidden;
}
.vector-icon140 {
  position: absolute;
  height: 2.88%;
  width: 7.63%;
  top: 93.58%;
  right: 37.4%;
  bottom: 3.53%;
  left: 54.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon141 {
  position: absolute;
  height: 2.33%;
  width: 7.89%;
  top: 93.86%;
  right: 55.47%;
  bottom: 3.81%;
  left: 36.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.house-icon40 {
  position: absolute;
  top: 62.88rem;
  left: 4.56rem;
  width: 1.81rem;
  height: 1.88rem;
  overflow: hidden;
}
.vector-icon145 {
  position: absolute;
  height: 2.33%;
  width: 7.89%;
  top: 93.86%;
  right: 55.47%;
  bottom: 3.81%;
  left: 36.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.contatos-child30 {
  position: absolute;
  top: 62.19rem;
  left: 3.81rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.38rem;
}
.contatos-child31 {
  position: absolute;
  top: 62.5rem;
  left: 8.31rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3rem;
}
.contatos-child32 {
  position: absolute;
  top: 62.19rem;
  left: 12.81rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.06rem;
}
.contatos-child33 {
  position: absolute;
  top: 62.5rem;
  left: 17.44rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3rem;
}
.personcircle-icon44 {
  position: absolute;
  top: 62.81rem;
  left: 18.06rem;
  width: 2.13rem;
  height: 2.06rem;
  overflow: hidden;
}
.vector-icon152 {
  position: absolute;
  height: 2.88%;
  width: 7.63%;
  top: 93.58%;
  right: 37.15%;
  bottom: 3.53%;
  left: 55.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon153 {
  position: absolute;
  height: 2.33%;
  width: 7.89%;
  top: 93.86%;
  right: 55.22%;
  bottom: 3.81%;
  left: 36.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.house-icon44 {
  position: absolute;
  top: 62.88rem;
  left: 4.63rem;
  width: 1.81rem;
  height: 1.88rem;
  overflow: hidden;
}
.vector-icon157 {
  position: absolute;
  height: 2.33%;
  width: 7.89%;
  top: 93.86%;
  right: 55.22%;
  bottom: 3.81%;
  left: 36.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.contatos-child38 {
  position: absolute;
  top: 61.69rem;
  left: 0.88rem;
  border-radius: 40px;
  width: 22.88rem;
  height: 4.56rem;
}
.personcircle-icon47 {
  position: absolute;
  top: 62.81rem;
  left: 18.06rem;
  width: 2.13rem;
  height: 2.06rem;
  overflow: hidden;
  cursor: pointer;
}
.contatos {
  position: relative;
  border-radius: 40px;
  background-color: #fff;
  width: 100%;
  height: 67.19rem;
  overflow: hidden;
  text-align: left;
  font-size: 1.5rem;
  color: #000;
  font-family: Montserrat;
}
