.trattoria-andrade4 {
  position: absolute;
  top: 4rem;
  left: 3rem;
  font-size: 2rem;
  color: #fff;
  display: inline-block;
  width: 19.81rem;
  height: 2.38rem;
}
.sorvete-child {
  position: absolute;
  top: 46.56rem;
  left: 0.75rem;
  border-radius: 40px;
  width: 22.88rem;
  height: 4.56rem;
}
.sorvete-item {
  position: absolute;
  top: 47.06rem;
  left: 1.25rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.38rem;
}
.sorvete-inner {
  position: absolute;
  top: 47.38rem;
  left: 5.75rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3rem;
}
.sorvete-child1 {
  position: absolute;
  top: 47.06rem;
  left: 10.25rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.06rem;
}
.sorvete-child2 {
  position: absolute;
  top: 47.06rem;
  left: 14.75rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.38rem;
}
.sorvete-child3 {
  position: absolute;
  top: 47.38rem;
  left: 19.25rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3rem;
}
.personcircle-icon8 {
  position: absolute;
  top: 47.69rem;
  left: 19.88rem;
  width: 2.13rem;
  height: 2.06rem;
  overflow: hidden;
}
.bookmarks-icon2 {
  position: absolute;
  top: 47.69rem;
  left: 15.25rem;
  width: 2.13rem;
  height: 2rem;
  overflow: hidden;
}
.vector-icon44 {
  position: absolute;
  height: 3.7%;
  width: 7.63%;
  top: 91.17%;
  right: 47.58%;
  bottom: 5.13%;
  left: 44.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon45 {
  position: absolute;
  height: 2.98%;
  width: 7.89%;
  top: 91.53%;
  right: 65.65%;
  bottom: 5.49%;
  left: 26.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.house-icon8 {
  position: absolute;
  top: 47.75rem;
  left: 2.06rem;
  width: 1.81rem;
  height: 1.88rem;
  overflow: hidden;
}
.sorvete-child4 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: 50%;
  width: 28.38rem;
  height: 16.94rem;
}
.trattoria-andrade5 {
  position: absolute;
  top: 3.5rem;
  left: 3rem;
  font-size: 2rem;
  color: #fff;
  display: inline-block;
  width: 19.81rem;
  height: 2.5rem;
}
.sorvete-child12 {
  position: absolute;
  top: 47.06rem;
  left: 3.69rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.38rem;
}
.sorvete-child13 {
  position: absolute;
  top: 47.38rem;
  left: 8.19rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3rem;
}
.sorvete-child14 {
  position: absolute;
  top: 47.06rem;
  left: 12.69rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.06rem;
}
.sorvete-child15 {
  position: absolute;
  top: 47.38rem;
  left: 17.31rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3rem;
}
.personcircle-icon10 {
  position: absolute;
  top: 47.69rem;
  left: 17.94rem;
  width: 2.13rem;
  height: 2.06rem;
  overflow: hidden;
}
.vector-icon50 {
  position: absolute;
  height: 3.7%;
  width: 7.63%;
  top: 91.17%;
  right: 37.66%;
  bottom: 5.13%;
  left: 54.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon51 {
  position: absolute;
  height: 2.98%;
  width: 7.89%;
  top: 91.53%;
  right: 55.73%;
  bottom: 5.49%;
  left: 36.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.house-icon10 {
  position: absolute;
  top: 47.75rem;
  left: 4.5rem;
  width: 1.81rem;
  height: 1.88rem;
  overflow: hidden;
}
.house-icon11 {
  position: absolute;
  top: 47.75rem;
  left: 4.5rem;
  width: 1.81rem;
  height: 1.88rem;
  overflow: hidden;
  cursor: pointer;
}
.sorvete-child20 {
  position: absolute;
  top: 47.06rem;
  left: 3.75rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.38rem;
}
.sorvete-child21 {
  position: absolute;
  top: 47.38rem;
  left: 8.25rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3rem;
}
.sorvete-child22 {
  position: absolute;
  top: 47.06rem;
  left: 12.75rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.06rem;
}
.sorvete-child23 {
  position: absolute;
  top: 47.38rem;
  left: 17.38rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3rem;
}
.personcircle-icon12 {
  position: absolute;
  top: 47.69rem;
  left: 18rem;
  width: 2.13rem;
  height: 2.06rem;
  overflow: hidden;
}
.vector-icon56 {
  position: absolute;
  height: 3.7%;
  width: 7.63%;
  top: 91.17%;
  right: 37.4%;
  bottom: 5.13%;
  left: 54.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon57 {
  position: absolute;
  height: 2.98%;
  width: 7.89%;
  top: 91.53%;
  right: 55.47%;
  bottom: 5.49%;
  left: 36.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.house-icon12 {
  position: absolute;
  top: 47.75rem;
  left: 4.56rem;
  width: 1.81rem;
  height: 1.88rem;
  overflow: hidden;
}
.vector-icon61 {
  position: absolute;
  height: 2.98%;
  width: 7.89%;
  top: 91.53%;
  right: 55.47%;
  bottom: 5.49%;
  left: 36.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.sorvete-child28 {
  position: absolute;
  top: 46.56rem;
  left: 0.81rem;
  border-radius: 40px;
  width: 22.88rem;
  height: 4.56rem;
}
.personcircle-icon15 {
  position: absolute;
  top: 47.69rem;
  left: 18rem;
  width: 2.13rem;
  height: 2.06rem;
  overflow: hidden;
  cursor: pointer;
}
.populares-do-momento1 {
  position: absolute;
  top: 9.13rem;
  left: calc(50% - 116.5px);
  font-size: 1.25rem;
  display: inline-block;
  width: 17.94rem;
  height: 2.88rem;
}
.sorvete-child37 {
  position: absolute;
  top: 13.06rem;
  left: 2.63rem;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #ed2d2d;
  box-sizing: border-box;
  width: 8.81rem;
  height: 13.38rem;
}
.sorvete-child38 {
  position: absolute;
  top: 13.06rem;
  left: 13.38rem;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #ed2d2d;
  box-sizing: border-box;
  width: 8.81rem;
  height: 13.38rem;
}
.gelato-de-chocolate {
  position: absolute;
  top: 21.5rem;
  left: 3.06rem;
  display: inline-block;
  width: 8.31rem;
  height: 1.31rem;
}
.r34002 {
  position: absolute;
  top: 24.06rem;
  left: 4.88rem;
  display: inline-block;
  width: 3.31rem;
  height: 1.25rem;
}
.arrowrightcirclefill-icon5 {
  position: absolute;
  top: 23.94rem;
  left: 8.88rem;
  width: 1.44rem;
  height: 1.25rem;
  overflow: hidden;
}
.gelato-de-caramelo {
  position: absolute;
  top: 21.5rem;
  left: 13.88rem;
  display: inline-block;
  width: 8.31rem;
}
.r34003 {
  position: absolute;
  top: 24.06rem;
  left: 15.69rem;
  display: inline-block;
  width: 3.31rem;
  height: 1.25rem;
}
.arrowrightcirclefill-icon6 {
  position: absolute;
  top: 23.94rem;
  left: 19.69rem;
  width: 1.44rem;
  height: 1.25rem;
  overflow: hidden;
}
.sorvete-child39 {
  position: absolute;
  top: 29.19rem;
  left: 2.63rem;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #ed2d2d;
  box-sizing: border-box;
  width: 8.81rem;
  height: 13.38rem;
}
.sorvete-child40 {
  position: absolute;
  top: 29.19rem;
  left: 13.38rem;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #ed2d2d;
  box-sizing: border-box;
  width: 8.81rem;
  height: 13.38rem;
}
.gelato-de-morango {
  position: absolute;
  top: 37.63rem;
  left: 3.06rem;
  display: inline-block;
  width: 9.19rem;
  height: 1.31rem;
}
.r34004 {
  position: absolute;
  top: 40.19rem;
  left: 4.88rem;
  display: inline-block;
  width: 3.31rem;
  height: 1.25rem;
}
.arrowrightcirclefill-icon7 {
  position: absolute;
  top: 40.06rem;
  left: 8.88rem;
  width: 1.44rem;
  height: 1.25rem;
  overflow: hidden;
}
.gelato-de-amendoim1 {
  position: absolute;
  top: 37.63rem;
  left: 13.88rem;
  display: inline-block;
  width: 8.31rem;
}
.r34005 {
  position: absolute;
  top: 40.19rem;
  left: 15.69rem;
  display: inline-block;
  width: 3.31rem;
  height: 1.25rem;
}
.arrowrightcirclefill-icon8 {
  position: absolute;
  top: 40.06rem;
  left: 19.69rem;
  width: 1.44rem;
  height: 1.25rem;
  overflow: hidden;
}
.image-20-icon1 {
  position: absolute;
  top: 13.56rem;
  left: 3.38rem;
  border-radius: 250px;
  width: 7.56rem;
  height: 7.56rem;
  object-fit: cover;
}
.image-21-icon {
  position: absolute;
  top: 13.56rem;
  left: 14.06rem;
  border-radius: 250px;
  width: 7.56rem;
  height: 7.25rem;
  object-fit: cover;
}
.image-22-icon {
  position: absolute;
  top: 29.69rem;
  left: 3.38rem;
  border-radius: 250px;
  width: 7.56rem;
  height: 7.21rem;
  object-fit: cover;
}
.image-23-icon {
  position: absolute;
  top: 29.63rem;
  left: 14.06rem;
  border-radius: 250px;
  width: 7.56rem;
  height: 7.56rem;
  object-fit: cover;
}
.sorvete {
  position: relative;
  border-radius: 40px;
  background-color: #fff;
  width: 100%;
  height: 52.38rem;
  overflow: hidden;
  text-align: left;
  font-size: 0.75rem;
  color: #000;
  font-family: Montserrat;
}
