.trattoria-andrade2 {
  position: absolute;
  top: 4rem;
  left: 3rem;
  font-size: 2rem;
  color: #fff;
  display: inline-block;
  width: 19.81rem;
  height: 2.38rem;
}
.tiramisu-child {
  position: absolute;
  top: 46.56rem;
  left: 0.75rem;
  border-radius: 40px;
  width: 22.88rem;
  height: 4.56rem;
}
.tiramisu-item {
  position: absolute;
  top: 47.06rem;
  left: 1.25rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.38rem;
}
.tiramisu-inner {
  position: absolute;
  top: 47.38rem;
  left: 5.75rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3rem;
}
.ellipse-icon {
  position: absolute;
  top: 47.06rem;
  left: 10.25rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.06rem;
}
.tiramisu-child1 {
  position: absolute;
  top: 47.06rem;
  left: 14.75rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.38rem;
}
.tiramisu-child2 {
  position: absolute;
  top: 47.38rem;
  left: 19.25rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3rem;
}
.personcircle-icon {
  position: absolute;
  top: 47.69rem;
  left: 19.88rem;
  width: 2.13rem;
  height: 2.06rem;
  overflow: hidden;
}
.bookmarks-icon {
  position: absolute;
  top: 47.69rem;
  left: 15.25rem;
  width: 2.13rem;
  height: 2rem;
  overflow: hidden;
}
.vector-icon20 {
  position: absolute;
  height: 3.7%;
  width: 7.63%;
  top: 91.17%;
  right: 47.58%;
  bottom: 5.13%;
  left: 44.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon21 {
  position: absolute;
  height: 2.98%;
  width: 7.89%;
  top: 91.53%;
  right: 65.65%;
  bottom: 5.49%;
  left: 26.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.house-icon {
  position: absolute;
  top: 47.75rem;
  left: 2.06rem;
  width: 1.81rem;
  height: 1.88rem;
  overflow: hidden;
}
.tiramisu-child3 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: 50%;
  width: 28.38rem;
  height: 16.94rem;
}
.trattoria-andrade3 {
  position: absolute;
  top: 3.5rem;
  left: 3rem;
  font-size: 2rem;
  color: #fff;
  display: inline-block;
  width: 19.81rem;
  height: 2.5rem;
}
.tiramisu-child11 {
  position: absolute;
  top: 47.06rem;
  left: 3.69rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.38rem;
}
.tiramisu-child12 {
  position: absolute;
  top: 47.38rem;
  left: 8.19rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3rem;
}
.tiramisu-child13 {
  position: absolute;
  top: 47.06rem;
  left: 12.69rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.06rem;
}
.tiramisu-child14 {
  position: absolute;
  top: 47.38rem;
  left: 17.31rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3rem;
}
.personcircle-icon2 {
  position: absolute;
  top: 47.69rem;
  left: 17.94rem;
  width: 2.13rem;
  height: 2.06rem;
  overflow: hidden;
}
.vector-icon26 {
  position: absolute;
  height: 3.7%;
  width: 7.63%;
  top: 91.17%;
  right: 37.66%;
  bottom: 5.13%;
  left: 54.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon27 {
  position: absolute;
  height: 2.98%;
  width: 7.89%;
  top: 91.53%;
  right: 55.73%;
  bottom: 5.49%;
  left: 36.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.house-icon2 {
  position: absolute;
  top: 47.75rem;
  left: 4.5rem;
  width: 1.81rem;
  height: 1.88rem;
  overflow: hidden;
}
.house-icon3 {
  position: absolute;
  top: 47.75rem;
  left: 4.5rem;
  width: 1.81rem;
  height: 1.88rem;
  overflow: hidden;
  cursor: pointer;
}
.tiramisu-child19 {
  position: absolute;
  top: 47.06rem;
  left: 3.75rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.38rem;
}
.tiramisu-child20 {
  position: absolute;
  top: 47.38rem;
  left: 8.25rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3rem;
}
.tiramisu-child21 {
  position: absolute;
  top: 47.06rem;
  left: 12.75rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3.06rem;
}
.tiramisu-child22 {
  position: absolute;
  top: 47.38rem;
  left: 17.38rem;
  border-radius: 50%;
  width: 3.44rem;
  height: 3rem;
}
.personcircle-icon4 {
  position: absolute;
  top: 47.69rem;
  left: 18rem;
  width: 2.13rem;
  height: 2.06rem;
  overflow: hidden;
}
.vector-icon32 {
  position: absolute;
  height: 3.7%;
  width: 7.63%;
  top: 91.17%;
  right: 37.4%;
  bottom: 5.13%;
  left: 54.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon33 {
  position: absolute;
  height: 2.98%;
  width: 7.89%;
  top: 91.53%;
  right: 55.47%;
  bottom: 5.49%;
  left: 36.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.house-icon4 {
  position: absolute;
  top: 47.75rem;
  left: 4.56rem;
  width: 1.81rem;
  height: 1.88rem;
  overflow: hidden;
}
.vector-icon37 {
  position: absolute;
  height: 2.98%;
  width: 7.89%;
  top: 91.53%;
  right: 55.47%;
  bottom: 5.49%;
  left: 36.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.tiramisu-child27 {
  position: absolute;
  top: 46.56rem;
  left: 0.81rem;
  border-radius: 40px;
  width: 22.88rem;
  height: 4.56rem;
}
.personcircle-icon7 {
  position: absolute;
  top: 47.69rem;
  left: 18rem;
  width: 2.13rem;
  height: 2.06rem;
  overflow: hidden;
  cursor: pointer;
}
.populares-do-momento {
  position: absolute;
  top: 9.13rem;
  left: calc(50% - 116.5px);
  font-size: 1.25rem;
  display: inline-block;
  width: 17.94rem;
  height: 2.88rem;
}
.tiramisu-child36 {
  position: absolute;
  top: 13.06rem;
  left: 2.63rem;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #ed2d2d;
  box-sizing: border-box;
  width: 8.81rem;
  height: 13.38rem;
}
.tiramisu-child37 {
  position: absolute;
  top: 13.06rem;
  left: 13.38rem;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #ed2d2d;
  box-sizing: border-box;
  width: 8.81rem;
  height: 13.38rem;
}
.tiramisu1 {
  position: absolute;
  top: 21.5rem;
  left: 3.06rem;
  display: inline-block;
  width: 8.31rem;
  height: 1.31rem;
}
.r5400 {
  position: absolute;
  top: 24.06rem;
  left: 4.88rem;
  display: inline-block;
  width: 3.31rem;
  height: 1.25rem;
}
.arrowrightcirclefill-icon1 {
  position: absolute;
  top: 23.94rem;
  left: 8.88rem;
  width: 1.44rem;
  height: 1.25rem;
  overflow: hidden;
}
.cannoli {
  position: absolute;
  top: 21.5rem;
  left: 13.88rem;
  display: inline-block;
  width: 8.31rem;
}
.r34001 {
  position: absolute;
  top: 24.06rem;
  left: 15.69rem;
  display: inline-block;
  width: 3.31rem;
  height: 1.25rem;
}
.arrowrightcirclefill-icon2 {
  position: absolute;
  top: 23.94rem;
  left: 19.69rem;
  width: 1.44rem;
  height: 1.25rem;
  overflow: hidden;
}
.tiramisu-child38 {
  position: absolute;
  top: 29.19rem;
  left: 2.63rem;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #ed2d2d;
  box-sizing: border-box;
  width: 8.81rem;
  height: 13.38rem;
}
.tiramisu-child39 {
  position: absolute;
  top: 29.19rem;
  left: 13.38rem;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #ed2d2d;
  box-sizing: border-box;
  width: 8.81rem;
  height: 13.38rem;
}
.panna-cotta1 {
  position: absolute;
  top: 37.63rem;
  left: 3.06rem;
  display: inline-block;
  width: 9.19rem;
  height: 1.31rem;
}
.r24001 {
  position: absolute;
  top: 40.19rem;
  left: 4.88rem;
  display: inline-block;
  width: 3.31rem;
  height: 1.25rem;
}
.arrowrightcirclefill-icon3 {
  position: absolute;
  top: 40.06rem;
  left: 8.88rem;
  width: 1.44rem;
  height: 1.25rem;
  overflow: hidden;
}
.zeppole {
  position: absolute;
  top: 37.63rem;
  left: 13.88rem;
  display: inline-block;
  width: 8.31rem;
}
.r1400 {
  position: absolute;
  top: 40.19rem;
  left: 15.69rem;
  display: inline-block;
  width: 3.31rem;
  height: 1.25rem;
}
.arrowrightcirclefill-icon4 {
  position: absolute;
  top: 40.06rem;
  left: 19.69rem;
  width: 1.44rem;
  height: 1.25rem;
  overflow: hidden;
}
.image-25-icon {
  position: absolute;
  top: 13.56rem;
  left: 3.19rem;
  border-radius: 250px;
  width: 7.56rem;
  height: 7.56rem;
  object-fit: cover;
}
.image-26-icon {
  position: absolute;
  top: 13.63rem;
  left: 14.06rem;
  border-radius: 250px;
  width: 7.56rem;
  height: 7.25rem;
  object-fit: cover;
}
.image-27-icon {
  position: absolute;
  top: 29.63rem;
  left: 3.38rem;
  border-radius: 250px;
  width: 7.56rem;
  height: 7.25rem;
  object-fit: cover;
}
.image-28-icon {
  position: absolute;
  top: 29.63rem;
  left: 14.06rem;
  border-radius: 250px;
  width: 7.56rem;
  height: 7.56rem;
  object-fit: cover;
}
.tiramisu {
  position: relative;
  border-radius: 40px;
  background-color: #fff;
  width: 100%;
  height: 52.38rem;
  overflow: hidden;
  text-align: left;
  font-size: 0.75rem;
  color: #000;
  font-family: Montserrat;
}
